{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}">
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Ooops</h1>
            <div>We are not in Kansas anymore</div>
        </article>
    </section>

{% endblock %}