{% extends 'EventBundle::layout.html.twig' %}

{% block body %}

    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('new') }}">Create new event</a>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="link" href="{{ path('logout') }}">Log Out {{ app.user.username }}</a>
            {% else %}
                <a class="link" href="/login">Log In</a>
            {% endif %}
        </header>

        {{ render(controller('EventBundle:Event:_upcomingEvents')) }}
    </section>
{% endblock %}
